.yoti-connect a.yoti-unlink-button {
    display: inline-block;
    cursor: pointer;
    background-color: #2D9FFF;
    background-image: none;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto','Helvetica', sans-serif;
    font-size: 14px;
    padding: 4px 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#users-profile-custom-yotiprofile
{
    margin:10px 0 15px 0;
    padding:15px;
}

#users-profile-custom-yotiprofile dt
{
    float:left;
    width:12em;
    padding:3px 0;
}

#users-profile-custom-yotiprofile dd
{
    padding:3px 0;
}

.yoti-connect .yoti-button {
    height: 50px;
}
